.app-container {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

.menu-section,
.gallery-section,
.contact-section {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  max-width: 900px;
  margin: 50px auto;
  padding: 40px 20px;
  margin-bottom: 10px;
}


.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 5px 5px;
  margin-top: 10px;
}